# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/

#temp files created by test app
bin/quotes.txt

# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/
